  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="https://www.facebook.com/anas.lamliji.1/">Anass Lamliji</a>
      </div>
    </div>
        </div>
      </div>
    </div>    
  </footer><!-- End Footer -->